.searchbar {
	width: 60px;
	height: 25px;
	border: none;
	outline: none;
	border-radius: 50px;
	padding: 2px 5px;
	font-size: 11px;
	box-shadow: inset -3px -3px 8px rgba(0,0,0,0.01),
				inset 3px 3px 10px rgba(0,0,0,0.1);
}

.search-div {
	align-self: center;
}

a:link, a:visited  {
	text-decoration: none;
	color: black;
}
